@charset "UTF-8";

/* Navbar container */
.navbar{
    background-color: #333;
    overflow: hidden;
}
nav#menu{
    display: block;
    position: absolute;
}
nav#menu a{
    display: block;
    float: left;
    background-color: white;
    padding: 5px;
    margin: 5px;
}
.dropdown{
    float: left;
    overflow: hidden;
}
.dropdown-content-anime{
    display: none;
    background-color: yellow;
    color: black;
}
.dropdown:hover .dropdown-content-anime{
    display: block;

}
.dropdown-content-jogo{
    display: none;
    background-color: yellow;
    color: black;
}